img.claimed-toon {
    z-index: 1;
    height: 48px;
    width: 48px;
    position: absolute;
    top: 0px;
    left: 0px;
    padding: 5px;
    -webkit-filter: drop-shadow(2px 2px 1px rgba(255, 255, 255));
    filter: drop-shadow(2px 2px 1px rgba(255, 255, 255));    
}

img.unclaimed-toon {
    z-index: 1;
    height: 48px;
    width: 48px;
    position: absolute;
    top: 0px;
    left: 0px;
    padding: 5px;
    -webkit-filter: drop-shadow(2px 2px 1px rgb(255, 255, 255));
         filter: drop-shadow(2px 2px 1px rgb(255, 255, 255));
}
